html,
body {
    height: 100%;
    margin:0;
    padding: 0;
}

.page_wrap {
    padding:20px 10%;
    background-color: #000;
    color:#fff;
    min-height:100%;
}

select,input,button{color:#000;}

h1{margin:20px 0;}

.team_unit{
    height: 25px;
    margin: 8px 0;
}

.team_unit__input{
    display: inline-block;
    width: 200px;
}

.team_unit__class{
    display: inline-block;
    margin: 0 10px;
    background-color: #1c5a29;
    padding: 5px 10px;
    border-radius: 15px;
}

.w150{
    width: 150px;
}



/****************/
/*     ROOM     */
/****************/
.room_item {
    margin: 10px 0;
    background-color: #2e3436;
    border-radius: 10px;
    padding: 10px;
}

.room_item__infoblock {
    display: inline-block;
}

.room_item__infoblock__label {
    padding: 5px 10px;
    border-radius: 10px 10px 0 0;
}

.room_item__infoblock__data {
    padding: 5px 10px;
    border: 1px solid #337ab7;
    border-radius: 0 0 10px 10px;
}

.team_row{
    margin-top:5px;
}



/****************/
/*    SPINNER   */
/****************/

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}